body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
a:link {
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.content > .message {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  font-size: 16px;
  color: #111;
}
.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.content > .message.error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
  color: #BD2828;
}
.content > .message.error pre {
  border: solid 1px #BD2828;
  background: #fefafa;
  padding: 10px;
  color: #BD2828;
}
.content:not(.with-error) .error, .content.with-error .intro, .content.with-diagram .intro {
  display: none;
}
.content .canvas {
  width: 100%;
}
.content .canvas, .content .properties-panel-parent {
  display: none;
}
.content.with-diagram .canvas, .content.with-diagram .properties-panel-parent {
  display: block;
}

.comments-overlay {
  background: #52B415;
  font-size: 12px;

  color: white;
  display: none;
}

.selected .comments-overlay,
.comments-overlay.with-comments {
  display: block;
}

.comments-overlay .edit {
  margin: 2px 0 0 0;
  padding-top: 2px;
}

.comments-overlay .edit textarea {
  border: none;
  margin: 0;
}

.comments-overlay .icon-comment:hover {
  color: #EEE;
}

.comments-overlay .comment {
  border-top-color: white;
}


.comments-overlay .icon-comment {
  margin-right: 2px;
}

.comments-overlay .icon-delete {
  color: white;
}


/** fonts **/

@font-face {
  font-family: 'bpmn-js-comments';
  src: url('font/bpmn-js-comments.eot?23532594');
  src: url('font/bpmn-js-comments.eot?23532594#iefix') format('embedded-opentype'),
       url('font/bpmn-js-comments.woff?23532594') format('woff'),
       url('font/bpmn-js-comments.ttf?23532594') format('truetype'),
       url('font/bpmn-js-comments.svg?23532594#bpmn-js-comments') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bpmn-js-comments";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
}

.icon-comment:before { content: '\e800'; }
.icon-delete:before { content: '\e802'; }



.userType.active {
  background-color: lightblue;
}

